<footer>
  <div class="container-fluid bg-primary">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="title-copy">Paulo Bramante - 2021</p>
      </div>
    </div>
  </div>
</footer>