<div class="container-fluid">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img src="/images/logo.png" alt="" height="50">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="https://github.com/bhrama-br" target="_blank" class="nav-link px-2 link-dark">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/paulobramante/" target="_blank" class="nav-link px-2 link-dark">Linkedin</a></li>
      <li><a href="mailto:paulobram15@gmail.com" class="nav-link px-2 link-dark">Email</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <button type="button" class="btn btn-primary">Log out</button>
      <% end %>
    </div>
  </header>
</div>